@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

  html {
    background-color: #fafafb;
    overflow-x: hidden;
  }

  body {
    position: relative;
  }

  .logo {
    font-family: 'Comforter Brush', cursive;
  }

  span.edit-delete svg {
    height: 100%;
    padding: 3px;
  }
}

/* Transitions */
.slide-fade-enter {
  transform: translateX(15px);
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-to {
  transform: translateX(-15px);
  opacity: 0;
}

.slide-up-enter {
  transform: scale(0.6);
  opacity: 0;
}

.slide-up-enter-active {
  transition: all 0.4s ease;
}

.slide-up-leave-to {
  opacity: 0;
  /* transform: scale(0.6); */
}

.slide-up-leave-active {
  transition: all 0.4s ease;
  position: absolute;
}

.slide-up-move {
  transition: all 0.3s ease;
}
